* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}



#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
}

nav {
    width: 100%;
    display: flex;
    padding: 28px 28px 0;
    align-items: center;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    gap: 1vw;
}

.nav-right h4 {
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    font-weight: 100;
    font-size: 18px;
    color: rgba(33, 33, 33, 0.82);
    position: relative;
    overflow: hidden;
    transition: all ease 0.4s;
}

.nav-right h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    left: 0;
    bottom: -100%;
    color: white;
    border-radius: 50%;
    transition: all ease 0.4s;
}

.nav-right h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

.nav-right h4 a {
    text-decoration: none;
    color: #000;
    position: relative;
}

.nav-right h4:hover a {
    color: white;
    z-index: 9;
}

.center {
    height: 84vh;
    width: 100%;
    position: relative;
    display: flex;
    border-bottom: solid 1px gray;
   
}

.center .left {
    width: 30%;
    position: absolute;
    bottom: 0;
    padding: 28px;
    font-size: 12px;
    
}

.center .left h2 {
    background: white;
    font-weight: 900; /* Changed from 1 1000 to 800 */
}

.center .right {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 5.5vw;
    padding: 28px;
    line-height: 120px;
    text-align: right;
    font-weight: 900; /* Added font-weight property */
}
.center .right h1{
    font-weight: 900;
}


#hero-shape{
    position: absolute;
    height: 36vw;
    width: 40vw;   
    right: 0;
    top: 90vh;
    
   
}
#shape1{
    height: 100%;
    width: 100%;
    background-color: #fe320a;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}
#shape2{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#fe320a,#fe5b0a);
    border-top-left-radius: 50%;
    border-top-right-radius:50% ;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
#shape3{
    height: 30vw;
    width: 30vw;
    position: absolute;
    background: linear-gradient(#fe320a,#fe5b0a);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(25px);
    border-top-right-radius: 50%;
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

#page1 video{
    height: 100%;
    width: 100%;
    margin-top: 40px;
    padding: 38px;
    border-radius:70px;
    z-index:99 ;
    position: relative;
   
    
}

#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0vw;
}

@keyframes anime1 {
    from{
        transform: translate(55%,-2%);
    }
    to{
        transform: translate(10%,-10%);
    }
    
}
@keyframes anime2 {
    from{
        transform: translate(5%,-3%);
    }
    to{
        transform: translate(-20%,30%);
    }
    
}
.moving-text{
    white-space: nowrap;
    overflow-x: auto;
    
}
.moving-text::-webkit-scrollbar{
    display: none;
}
.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    

}
.moving-text h1{
    font-size: 9vw;
    display: inline-block;
   
}
#circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fe320a;
    display: inline-block;
    margin: 1vw 2vw;

}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.page2-div{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    
   
}
.page2-left{
    
    font-size: 2vw;
    width: 60%;
    padding: 6vw;
    font-weight: 900;
    position: relative;
    z-index: 999;
    line-height: 60px;
}
.page2-right{
    width: 40%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
.page2-div img{
    height: 190px;
    width: 280px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.page2-right h5{
    padding: 3vw 10vw;
    font-weight: 100;
    font-size: 14px;
}
#page2-circle {
    height: 38vw;
    width: 35vw;
    position: absolute;
    top:40%;
    left: 26%;
    background:linear-gradient(to top right ,#fe320a,#fe5b0a);
    filter: blur(30px);
    animation-name: gola1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 50%;
  

    /* filter: blur(25px); */
    
    
}

@keyframes gola1 {
    from{
        filter: blur(20[x]);
        transform: translate(10%,-10%) skew(0);
    }
    to{filter: blur(50px);

        transform: translate(-10%,10%) skew(-15deg);
    }
    
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    
}
.elem{
    width: 100%;
    height: 9.5vw;
  
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    padding: 2vw;
    font-size: 2vw;
    position: relative;

    overflow: hidden; 

}
.elem h1{
    z-index: 99;
    position: relative;
}
.elem .overlay{
    height: 100%;
    width: 100%;
    background-color: #fe5b0a;
    position: absolute;
    left: 0;
    top:-100%;
    transition: all ease 0.5s;
}
.elem:hover .overlay{
    top: 0%;
}
#fixed-image{
    height: 32vw;
    width: 25vw;
    position: fixed;
    /* background-color: red; */
    z-index: 99999;
    top: 20%;
    left: 50%;
    display: none;
    border-radius: 10px;
    box-shadow: 2px 2px 20px black;
    overflow: hidden;
    background-position: center;
   background-size: cover;
    

}
#page3 h4{
    margin-left: 28px;
    margin-top: 50px;
    border: 1px solid rgba(128, 128, 128, 0.442);
    display: inline-block;
    padding: 1vw 3vw;
    border-radius:50px;
    color: #00000080;
    font-weight: 100;
    transition: all ease .3s;
    
}


#page3 h4:hover{
    background-color: #000;
    
}
#page3 h4:hover a{
    color: #EFEAE3;
}

a{
   
    text-decoration: none;
    color: black;

}
#page4{
    width: 100%;
    height: 100vh;
    background-color: #EFEAE3;
}
#page5{
    height:110vh ;
    width: 100%;
}

#footer{
    position: fixed;
   z-index: 9;
   height: 150vh;
   bottom: 0;
   width: 100%;
   background-color: #000;
   color: white;
   display: flex;
   flex-direction: column;
  
   justify-content: flex-end;
   
}
#footer h1{
    font-size: 22vw;
    text-align: center;
}
.footer-div{
    height: 40vh;
    width: 100%;  
    display: flex;
    position: relative;
    align-items: center;
   justify-content: space-between;
   padding: 5vw 7vw;
   background-color: red;
   font-size: 2vw;

}
.footer-div .left{
    width: 30%;

    line-height: 40px;
    height: 100%;
   
}
.footer-div .right{
    width: 30%;

    text-align: right;
}
.footer-div .right h5{
    font-weight: 100;
}
#footer-bottom{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    border-top:1px solid #dadada ;
    padding: 2vw 3vw;
    
}
#footer-bottom h3{
    font-weight: 300;
}

#main{
    position: relative;
    z-index: 10;
}