* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
}

nav {
    width: 100%;
    display: flex;
    padding: 28px 28px 0;
    align-items: center;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    gap: 1vw;
}

.nav-right h4 {
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    font-weight: 100;
    font-size: 18px;
    color: rgba(33, 33, 33, 0.82);
    position: relative;
    overflow: hidden;
    transition: all ease 0.4s;
}

.nav-right h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    left: 0;
    bottom: -100%;
    color: white;
    border-radius: 50%;
    transition: all ease 0.4s;
}

.nav-right h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

.nav-right h4 a {
    text-decoration: none;
    color: #000;
    position: relative;
}

.nav-right h4:hover a {
    color: white;
    z-index: 9;
}

.center {
    height: 84vh;
    width: 100%;
    position: relative;
    display: flex;
    border-bottom: solid 1px gray;
   
}

.center .left {
    width: 30%;
    position: absolute;
    bottom: 0;
    padding: 28px;
    font-size: 12px;
    
}

.center .left h2 {
    background: white;
    font-weight: 900; /* Changed from 1 1000 to 800 */
}

.center .right {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 5.5vw;
    padding: 28px;
    line-height: 120px;
    text-align: right;
    font-weight: 900; /* Added font-weight property */
}
.center .right h1{
    font-weight: 900;
}


#hero-shape{
    position: absolute;
    height: 36vw;
    width: 40vw;   
    right: 0;
    top: 90vh;
    
   
}
#shape1{
    height: 100%;
    width: 100%;
    background-color: #fe320a;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}
#shape2{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#fe320a,#fe5b0a);
    border-top-left-radius: 50%;
    border-top-right-radius:50% ;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
#shape3{
    height: 30vw;
    width: 30vw;
    position: absolute;
    background: linear-gradient(#fe320a,#fe5b0a);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(25px);
    border-top-right-radius: 50%;
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

#page1 video{
    height: 100%;
    width: 100%;
    margin-top: 40px;
    padding: 38px;
    border-radius:70px;
    z-index:99 ;
    position: relative;
   
    
}

#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
}

@keyframes anime1 {
    from{
        transform: translate(55%,-2%);
    }
    to{
        transform: translate(10%,-10%);
    }
    
}
@keyframes anime2 {
    from{
        transform: translate(5%,-3%);
    }
    to{
        transform: translate(-20%,30%);
    }
    
}